{% extends 'emp_reg/base.html' %}
{% load crispy_forms_tags %}

{% block content %}



<div class="container my-5">

    <p class="text-primary text-center">Django Form for Crud</p>
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <div class="d-flex justify-content-between ">
                    <div>
                        <h1 class="display-5 fw-bold">Employee Register</h1>
                    </div>
                    <div class="align-self-center">
                        <a href="{% url 'view'  %}" class="btn btn-outline-success">View Employee</a>
                    </div>
                </div>
                <p class="col-md-8 fs-4"></p>

                <form method="POST" autocomplete="off">

                    {% csrf_token %}





                    <div class="row">
                        <div class="col-md-12">
                            {{ form.fullname|as_crispy_field }}
                        </div>

                        <div class="col-md-12">
                            {{ form.mobile|as_crispy_field }}
                        </div>

                        <div class="col-md-6">
                            {{ form.emp_code|as_crispy_field }}
                        </div>


                        <div class="col-md-6">
                            {{ form.position|as_crispy_field }}
                        </div>

                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success">{% if form.instance.pk %}
                                Update
                                {% else %}
                                Create
                                {% endif %}
                                <i class="fa-solid fa-database"></i>
                            </button>

                        </div>
                    </div>
                </form>


            </div>

        </div>
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>


    </div>

    {% endblock content %}